@page "/fetchdata"
@using DotNet7BlazorDataBinding.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
@*    <input @bind="@searchText" @bind:event="oninput" @bind:after="Search"/>
*@
    <SearchInput @bind-SearchText="@searchText" @bind-SearchText:after="Search" />

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private string searchText = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }

    async Task Search()
    {
        var result = await Http.PostAsJsonAsync<string>("WeatherForecast", searchText);
        forecasts = await result.Content.ReadFromJsonAsync<WeatherForecast[]>();
    }
}
